

 <!-- Promotions -->
<div class="row mt-2 mb-4 d-flex flex-column flex-sm-row">
  <div class="col col-md-8 rounded pr-sm-0 mb-2 mb-sm-0">
  
  <% if @promotions.present? %>
    <div id="carousel-destaque" class="carousel slide carousel-fade z-depth-1-half rounded" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @promotions.each_with_index do |promotion, index| %>
          <li data-target="#carousel-destaque" data-slide-to="<%= index %>"
          class="<%= 'active' if index == 0 %>"></li>
        <% end %>     
      </ol>
      <div class="carousel-inner rounded" role="listbox">
        <% @promotions.each_with_index do |promotion, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="view">
                <%= image_tag promotion.image.url, class: "d-block w-100" %>             
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption carousel-styled-caption">
              <h5 class=""><%= promotion.title%></h5>
              <%= link_to promotion_path(promotion.slug), class: "btn bg-primary btn-rounded"  do %>
                <p class="text-white m-0">Clique aqui e saiba como participar</p>             
              <% end %>              
            </div>
          </div>
        <%end%>      
      </div>
      <a class="carousel-control-prev" href="#carousel-destaque" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-destaque" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>    
  <% else %>   
   <div class="carousel-inner rounded" role="listbox">    
      <div class="carousel-item active">
        <div class="view">
            <%= image_tag 'promocoes.png', class: "d-block w-100" %>             
          <div class="mask rgba-black-light"></div>
        </div>         
      </div>       
    </div> 
  <% end %>
  
  </div>
  <!-- Videos -->
  <div class="col col-md-4 d-flex flex-column justify-content-between">
    <div id="carousel-destaque-sm-1" class="carousel slide carousel-fade z-depth-1-half rounded mb-2 mb-sm-0" data-ride="carousel">
      <ol class="carousel-indicators">
         <% @videos.each_with_index do |video, index| %>
          <li data-target="#carousel-destaque-sm-1" data-slide-to="<%= index %>"
          class="<%= 'active' if index == 0 %>"></li>
         <% end %>
      </ol>
      <div class="carousel-inner rounded" role="listbox">
        <% @videos.each_with_index do |video, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="view">              
              <%= image_tag video.image, class: "d-block w-100" %>             
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption carousel-styled-caption">
              <h5 class=""><%= video.title%></h5>
               <%= link_to video_path(video), class: "btn bg-primary btn-rounded" do %>
                  <p class="text-white m-0">Ver o vídeo</p>             
                <% end %>
            </div>
          </div>
        <% end %>      
      </div>  
      <a class="carousel-control-prev" href="#carousel-destaque-sm-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-destaque-sm-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

   <!-- Photos -->
    <div id="carousel-destaque-sm-2" class="carousel slide carousel-fade z-depth-1-half rounded" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @albums.each_with_index do |album, index| %>
        <li data-target="#carousel-destaque-sm-2" data-slide-to="<%= index %>"
        class="<%= 'active' if index == 0 %>"></li>
        <% end %>      
      </ol>
      <div class="carousel-inner rounded" role="listbox">
       <% @albums.each_with_index do |album, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="view"> 
              <% if album.image.present? %>
                  <%= image_tag album.image , class: "d-block w-100" %> 
              <% else %>
                <%= image_tag 'logo.png', class: "d-block w-100"%>
              <% end %>                          
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption carousel-styled-caption">
              <h5 class=""><%= album.name%></h5>
               <%= link_to album_path(album), class: "btn bg-primary btn-rounded" do %>
                  <p class="text-white m-0">Ver as fotos</p>             
                <% end %>
            </div>
          </div>
        <% end %>          
      </div>

      <a class="carousel-control-prev" href="#carousel-destaque-sm-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-destaque-sm-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

 