<% banners_topo = banners_ads(728, 90, 4, 6).to_a %>
<% banners_destaque = banners_ads(468, 60, 1, 4).to_a %>

<div class="home-slides grey lighten-5">
  <div class="container">
    <%= render 'layouts/includes/banner_center', banner: banners_destaque, only_featured: false %>

    <div class="row">
      <div class="col mb-3">
        <h5 class="mb-3">
          <%= l(Time.zone.now, format: :medium) %>
        </h5>

        <%= render "home/content/slides" %>
      </div>
    </div>
  </div>
</div>

<div class="home-most_played">
  <div class="container mt-5">
    <%= render 'layouts/includes/banner_header', banner: banners_topo, only_featured: false %>

    <%= render "home/content/most_played" %>
  </div>
</div>

<div class="home-schedule grey lighten-5">
    <%= render "home/content/schedule" %>
</div>
  <%# 
  <script>
  $(function() {
    var days = ['dom','seg','ter','qua','qui','sex','sab'];
    var day = days[new Date().getDay() ];
    var selectedClass = "";

    initializeSchedule(day);

    $(".filter").click(filterDays);

    function filterDays() {
      selectedClass = $(this).attr("data-rel");
      $("button").not("#"+selectedClass).removeClass('highlight-day');

      $("#gallery").fadeTo(100, 0.1);
      $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');

      setTimeout(function() {
        $("."+selectedClass).fadeIn().addClass('animation');
        $("#gallery").fadeTo(300, 1);
        }, 300);

        $("#"+selectedClass).addClass('highlight-day');
      }

    function initializeSchedule(day) {
      $(`#${day}`).addClass('highlight-day');
      selectedClass = $(`#${day}`).attr("data-rel");
      $("#gallery").fadeTo(100, 0.1);
      $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');

      setTimeout(function() {
        $("."+selectedClass).fadeIn().addClass('animation');
        $("#gallery").fadeTo(300, 1);
        }, 300);
      }
    });
  </script> %>