<%= form_for @contact, url: create_contact_path,
html: { class: "form" } do |f| %>
  <div class="row mr-lg-0">
    <div class="col-12">
      <div class="row">
        <!-- Material input -->
          <div class="md-form w-100">
            <%= f.text_field :name, class: "form-control", required: true %>
            <%= f.label :name, "Seu nome *" %>
          </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row mr-md-0">
        <!-- Material input -->
          <div class="md-form w-100">
            <%= f.text_field :email, class: "form-control", required: true %>
            <%= f.label :email, "Seu e-mail *" %>
          </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row ml-md-0">
        <!-- Material input -->
          <div class="md-form w-100">
            <%= f.text_field :phone, class: "form-control" %>
            <%= f.label :phone, "Seu telefone" %>
          </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <!-- Material input -->
          <div class="md-form w-100">
            <%= f.text_field :subject, class: "form-control", required: true %>
            <%= f.label :subject, "Assunto *" %>
          </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <!--Material textarea-->
          <div class="md-form w-100">
            <%= f.text_area :message, class: 'md-textarea form-control', 
            required: true, rows: 3 %>
            <%= f.label :message, "Mensagem *" %>
          </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <%#= recaptcha_tags %>
      </div>
    </div>
  
    <div class="col-12 mt-3">
      <div class="row justify-content-center">
        <span>(*) Campo necessários</span>
        <%= invisible_recaptcha_tags ui: :input, text: "Enviar", 
        class: "btn btn-primary border-0" %>
      </div>
    </div>
  </div>
<% end %>
