<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Contato - <%= @contact["site_name"] %>
  </title>

  <style type="text/css">
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-size: 1rem;
    }

    #body,
    .body,
    body {
      max-width: 800px;
      min-width: 400px;
      margin: 0 auto;
      background-color: rgb(130, 166, 227);
    }

    #wrapper {
      max-width: 800px;
      min-width: 400px;
      margin: 0 auto;
    }


    header {
      width: 100%;
      background-color: lightgray;
      text-align: center;

    }

    header a {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgray;
    }

    header img {
      width: 60%;
      display: inline-block;
      margin: 12px auto;
    }

    .main {
      padding: 2.5rem 3rem;
      background-color: #f2f3f9;
    }

    .main p {
      margin-bottom: .75rem
    }

    .hr {
      margin: 1.5rem auto;
      border: 0;
      border-top: 1px solid lightgray;
    }

    .main .message .content {
      padding-top: 1rem
    }

    .footer {
      text-align: center;
    }

    .footer .developed {
      padding: 0 3rem 1rem;
      background-color: #f2f3f9;
    }

    .footer .developed a {
      text-decoration: none;
      color: inherit
    }

    .footer .developed img {
      margin-left: .25rem
    }

    .footer .copy {
      padding: 1.25rem;
      text-align: center;
      background-color: lightgray;
    }

    .footer .copy a {
      text-decoration: none;
      color: #000;
    }
  </style>
</head>

<body id="body" class="body">
  <div id="wrapper">
    <header>
      <%= link_to @contact["request"] do %>
        <img src="<%= @contact['request'] %><%= image_url('logo.png') %>" />
      <% end %>
    </header>
    <div class="main">
      <p>
        <b>
          Olá, tudo bem?
        </b>
      </p>
      <p>
        <b>
          Um e-mail acaba de ser preenchido no seu site.
        </b>
      </p>
      <p>
        O
        <b>
          nome
        </b>
        da pessoa que enviou é
        <b>
          <%= @contact["name"] %>
        </b>
      </p>
      <p>
        O
        <b>
          endereço de e-mail
        </b>
        informado foi
        <b>
          <%= @contact["email"] %>
        </b>
      </p>
      <p>
        O
        <b>
          nº de telefone
        </b>
        informado é
        <b>
          <%= @contact["phone"] %>
        </b>
      </p>

      <hr class="hr">

      <div class="message">
        <b>
          Assunto:
        </b>

        <div class="content">
          <%= @contact["subject"] %>
        </div>
      </div>

      <hr class="hr">

      <div class="message">
        <b>
          Mensagem:
        </b>

        <div class="content">
          <%= @contact["message"] %>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="developed">
        <%= link_to "https://www.agenciaw3.digital/" do %>
          Desenvolvido por: <%= image_tag "https://www.agenciaw3.digital/logo_w3.png" %>
        <% end %>
      </div>
      <div class="copy">
        <%= link_to @contact["site_name"], @contact["request"] %>
      </div>
    </div>
  </div>

</body>

</html>