<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
    <%= favicon_link_tag "icon.png" %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#3D5572">
    <% if !Rails.env.development? %>
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% end %>

    <%= display_meta_tags og: {
      title: @page_title,
      description: @page_description,
      url: request.url,
      image: {
        _: @page_image,
        url: @page_image,
        type: @page_image_type.present? ? "image/#{@page_image_type}" : "image/jpeg",
        width: @page_image_width.present? ? @page_image_width : 1080,
        height: @page_image_height.present? ? @page_image_height : 1080,
      },
      type: @page_type.present? ? @page_type : "website",
      article: { 
        author: @page_article_author,
        section: @page_article_section,
        published_time: @page_article_published_time,
      },
      locale: "pt_BR",
      site_name: @site_name
    },
    twitter: {
      card: "summary",
      title: @page_title,
      description: @page_description,
      url: request.url,
      image: {
        _: @page_image,
        width: @page_image_width.present? ? @page_image_width : 1080,
        height: @page_image_height.present? ? @page_image_height : 1080,
      },
    },
    product: {
      price: {
        amount: @page_product_amount,
        currency: @page_product_currency,
      }
    } %>

    <%= csrf_meta_tags %>
    
    <!-- Font Awesome -->
    <%= stylesheet_link_tag     "https://use.fontawesome.com/releases/v5.11.2/css/all.css", media: "all", "data-turbolinks-track": "reload" %>
    <!-- Google Fonts Roboto -->
    <%= stylesheet_link_tag     "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag     "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag  "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag :modernizr %>
    <%#= javascript_include_tag 'https://storage.alboompro.com/static/plugins/instagram.min.js?v=2.8.486', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <%= render "layouts/includes/alerts" %>

    <%= render "layouts/content/header" %>

    <div class="main">
      <%= yield %>
    </div>

    <%= render "layouts/content/footer" %>

    <%= render "layouts/content/scripts" %>
  </body>
</html>
